<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>first</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
    <script src="/js/ie/respond.min.js"></script>
    <script src="/js/ie/html5.js"></script>
    <![endif]-->
</head>
<body>
<#import "head.ftl" as lib />
<@lib.head />
<section id="content">
    <section class="main padder">
        <div class="clearfix">
            <h4><i class="icon-table"></i>详情</h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                        ${data.articleContent}
                </section>
            </div>
        </div>
    </section>
</section>
<script src="/js/wangEditor.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/app.js"></script>
<script src="/js/app.data.js"></script>
</body>
</html>